* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  height: 100vh;
  color: white;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: dodgerblue;
}

.logo-container {
  align-self: center;
  margin-left: 20px;
  font-weight: bolder;
}

.logo {
  font-size: 1.4rem;
}

.logo-end {
  color: orange;
}

.nav-list {
  display: flex;
  gap: 100px;
  list-style: none;
  align-self: center;
}

.nav-btn-container {
  margin-right: 20px;
  align-self: center;
  display: flex;
  gap: 20px;
}

.nav-login {
  background-color: orange;
  color: white;
  padding: 10px;
  font-weight: bold;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.nav-register {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
}

main {
  flex: 1;
  color: dodgerblue;
}

.main-container {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
}

.main-title {
  font-size: 4rem;
}

.main-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-login {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.main-register {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
}

footer {
  background-color: dodgerblue;
}
