* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  height: 100vh;
  color: white;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: dodgerblue;
}

.logo-container {
  align-self: center;
  margin-left: 20px;
  font-weight: bolder;
}

.logo {
  font-size: 1.4rem;
}

.logo-end {
  color: orange;
}

.nav-list {
  display: flex;
  gap: 100px;
  list-style: none;
  align-self: center;
  justify-content: center;
  margin-left: 100px;
}

.nav-btn-container {
  margin-right: 20px;
  align-self: center;
  display: flex;
  gap: 20px;
}

.nav-signOut {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.user-message {
  font-weight: bolder;
  font-size: 1.5rem;
}

.user-name {
  color: orange;
  font-weight: bolder;
}

footer {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-logo-container {
  align-self: center;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 1.4rem;
}

.footer-right {
  font-size: 0.9rem;
}

main {
  flex: 1;
  color: dodgerblue;
  margin-left: 40px;
  margin-right: 40px;
}

.profile-data {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.transactions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.deposits {
  width: 400px;
  height: 300px;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.history-title {
  text-align: center;
  font-weight: bold;
}

.deposits-list {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

.deposit-li {
  background-color: rgb(27, 131, 235);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.deposit-arrow {
  color: rgb(12, 232, 12);
  font-weight: bold;
}

.deposit-btn-container {
  display: flex;
  justify-content: end;
}

.make-deposit {
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: orange;
  border: none;
  border-radius: 10px;
}

.withdraws {
  width: 400px;
  height: 300px;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.withdraws-list {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

.withdraws-li {
  background-color: rgb(27, 131, 235);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.withdraw-arrow {
  color: rgb(250, 69, 69);
}

.withdraw-btn-container {
  display: flex;
  justify-content: end;
}

.make-withdraw {
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: orange;
  border: none;
  border-radius: 10px;
}

.transactions {
  width: 400px;
  height: 300px;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.transactions-list {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

.transactions-li {
  background-color: rgb(27, 131, 235);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.transactions-btn-container {
  display: flex;
  justify-content: end;
}

.make-transaction {
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: orange;
  border: none;
  border-radius: 10px;
}

/* Container styles */

.deposit-container {
  background-color: dodgerblue;
  color: white;
  border: 2px solid black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: space-between;
  border-radius: 4px;
}

.deposit-input {
  flex: 1;
}

.container-title {
  text-align: center;
}

.deposit-label {
  margin-top: 8px;
}

#deposit-amount {
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.make-deposit-btn {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

.deposit-cancle-btn {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

.withdraw-container {
  background-color: dodgerblue;
  color: white;
  border: 2px solid black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: space-between;
  border-radius: 4px;
}

.withdraw-input {
  flex: 1;
}

.withdraw-title {
  text-align: center;
}

.withdraw-label {
  margin-top: 8px;
}

#withdraw-amount {
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
  width: 100%;
}

.make-withdraw-btn {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

.withdraw-cancle-btn {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

.transaction-container {
  background-color: dodgerblue;
  color: white;
  border: 2px solid black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: space-between;
  border-radius: 4px;
}

.transaction-input {
  flex: 1;
}

.transaction-title {
  text-align: center;
}

.transaction-label {
  margin-top: 8px;
}

#transaction-amount {
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
  width: 100%;
}

.make-transaction-btn {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

.transaction-cancle-btn {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

#recipient-name {
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
  width: 100%;
}

/* Display none */

.display-none {
  display: none;
}
